{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}" id="header-container" >
    <nav class="main-nav overlay clearfix" id="header-navigation">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}

        <!--<h1 id="fixedTitle">{{@blog.title}} | <small>{{@blog.description}}</small></h1>-->

        <!--<section class="tags-container" id="fixedNavTagContainer"></section>-->

            <a id="searchButton"  data-offset="-45"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
            <input type="text" placeholder="post, subjects, authors..." id="searchBoxInput" autocomplete="off" class="search-scroll">

        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}

        <aside id="asideTags" class="tags-container">
            <h1 id="fixedTitle">{{@blog.title}}<br><small>{{@blog.description}}</small></h1>
        </aside>
    </nav>

    <div class="vertical" id="header-content">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>

        <!--<section class="tags-container" id="headerNavTagContainer"></section>-->

    </div>




    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">


    <section id="searchContainer">{{> "search"}}</section>   <!-- search results-->

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    <section id="mainBlogLoop">{{> "loop"}}</section> <!--default main section from Casper-->

</main>
